
.card-body h6, .card-body a {
    font-size: 0.8rem;
}

.card-text {
    font-size: 0.8rem;
}

.border-line {
    border-bottom: 1px solid #5C5B63;
}

.nav-link {
    border-radius: 15px;
    text-decoration: none; 
    padding-left: 25px !important; padding-right: 25px !important;
    color: #5C5B63 !important; 
    font-size: 13px !important;
    padding: 0 10px;
}

.nav-link:hover {
    color: #ffffff !important;
    background-color: #699676;
    transform: scale(1.1);
    transition: 0.1s;
}
.nav-link:not(:hover){
    transform: scale(1) rotate(0deg);
    transition: 0.1s;
}

/* Estilo para los elementos de lista */
.nav-item {
    display: inline-block;
}

.current-nav-link {
    color: #ffffff !important;
    background-color: #699676 !important;
}